<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

        <title>MOBI-AID | {% block title %}{% endblock %}</title>

        {% load static %}

        {# Stylesheets #}
        {% comment %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endcomment %}
        <link rel="stylesheet"
            href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
            integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link rel="stylesheet" id="generate-fonts-css"
            href="//fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900|Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic"
            type="text/css" media="all">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin="" />
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
            rel='stylesheet' />
        <link rel="stylesheet" href="{% static '/dashboard/css/lib/leaflet.zoomhome.css' %}">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/leaflet-panel-layers@1.2.6/src/leaflet-panel-layers.css"
            integrity="sha256-9IebOwkmzXybwmPCJ2MNDh9N6n5vOVy9DranvgQvJq4=" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {# Stylesheet for elements in base template #}
        <link rel="stylesheet" type="text/css" href="{% static "dashboard/css/style.css" %}">

        {# Stylsheets to be loaded by extending template in this block #}
        {% block stylesheet %}{% endblock stylesheet %}

        <!-- Note: Set actual urls in inheriting templates -->
        <link rel='canonical' href="{% block canonical_url %}{% endblock %}" />
        <link rel='shortlink' href="{% block shortlink_url %}{% endblock %}" />

        <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/images/favicon.ico' %}" />

    </head>

    <body data-spy="scroll" data-target="#toc" data-offset="50" itemtype="http://schema.org/WebPage"
        itemscope="itemscope" class="home page">
        <a id="top"></a> <!-- Anchor link for pages that have a side navigation-->
        <div id="page-container">
            <header itemtype="http://schema.org/WPHeader" itemscope="itemscope" id="masthead" role="banner"
                class="site-header">
                <nav itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope" id="site-navigation"
                    role="navigation" class="navbar main-navigation">
                    <div class="container-fluid" id="site-header">
                        <div class="row justify-content-left">
                            <!-- <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a> -->
                            <a class="navbar-brand col-fluid-1" href="{% url 'home' %}" title="MOBI-AID" rel="home">
                                <img class="img-fluid header-image" src="{% static "dashboard/images/truck_icon.png" %}"
                                    alt="MOBI-AID" title="MOBI-AID" />
                                <span id="site-name">Mobi-AID</span>
                            </a>
                            <div class="navbar-nav flex-row col-fluid pl-5" style="color=white">
                                <a class="nav-item nav-link {% if nbar == 'home' %}active{% endif %}"
                                    href="{% url 'home' %}">HOME</a>
                                <a class="nav-item nav-link {% if nbar == 'dashboard' %}active{% endif %}"
                                    href="{% url 'dashboard' %}">DASHBOARD</a>
                                {% comment %} <a class="nav-item nav-link {% if nbar == 'charts' %}active{% endif %}"
                                    href="{% url 'charts' %}">CHARTS</a> {% endcomment %}
                                <a class="nav-item nav-link {% if nbar == 'about' %}active{% endif %}"
                                    href="{% url 'about' %}">ABOUT</a>
                            </div>
                        </div>
                    </div> <!-- #Site header container (Navbar + Header)-->
                </nav><!-- #site-navigation -->
            </header>


            <div class="container-fluid hfeed site" id="page">
                {% block content %}
                {% endblock content %}
            </div> <!-- Main content, to be filled by extending templates-->

            <footer class="site-info footer" itemtype="http://schema.org/WPFooter" itemscope="itemscope"
                role="contentinfo">
                <div class="container">
                    <div class="row justify-content-center">
                        <span>
                            Copyright &copy; 2019 · <a href={% url 'home' %} title="MOBI-AID"
                                itemprop="url">MOBI-AID</a> All
                            Rights
                            Reserved.
                            · Powered by <a href="https://www.djangoproject.com/">Django</a> and <a
                                href="https://getbootstrap.com/">Bootstrap</a> ·
                        </span>
                    </div>

                </div>
            </footer>
        </div>

        {% block javascript %}
        <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


        <!-- Bootstrap JS and related -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script> {% endcomment %}
        {% comment %} <script type="text/javascript" src="{% static "dashboard/js/base.js" %}"></script>
        {% endcomment %}
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
            integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function () {
                $('body').bootstrapMaterialDesign();
            });
        </script>

        <!-- Leaflet and plugins-->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'>
        </script>
        <script src="{% static 'dashboard/js/lib/leaflet.zoomhome.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-panel-layers@1.2.6/src/leaflet-panel-layers.js"
            integrity="sha256-6WKha8nrP3oVS/AqChddBHLSRrDw0tJdFjs/ShqtrvE=" crossorigin="anonymous"></script>
        {% comment %} <script
            src="https://cdn.jsdelivr.net/combine/npm/leaflet-realtime@2/dist/leaflet-realtime.min.js,npm/wicket@1,npm/wicket@1/wicket-leaflet.min.js">
        </script> {% endcomment %}
        {% comment %} Define paths as global JS variables to access them from external script files {% endcomment %}
        <script type='text/javascript'>
            var ajaxLoaderPath = "{% static 'dashboard/images/ajax-loader.gif' %}";
        </script>
        <script src="{% static '/dashboard/js/utils.js' %}"></script>
        {% endblock javascript %}


    </body>

</html>