{% extends "dashboard/base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block stylesheet %}
{{ block.super }}
{% load static %}
{% comment %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endcomment %}
{% comment %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css">
{% endcomment %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="{% static '/dashboard/css/dashboard.css' %}">
{% endblock %}
{% block canonical_url %}
{% endblock %}
{% block shortlink_url %}
{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    <nav class="col-md-1 d-none d-md-block sidebar">
        <div class="sidebar-sticky h-100" id="dashboard-sidebar">
            <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <li class="pt-2 pl-3">
                    <h5>Tabs</h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-rt-tab" data-toggle="pill" href="#v-pills-rt" role="tab"
                        aria-controls="v-pills-rt" aria-selected="true">
                        <div class="nav-row text-center">
                            {% comment %} <img class="img-fluid nav-icon pr-2"
                                src="{% static '/dashboard/images/Real-time.svg' %}" alt=""> {% endcomment %}
                            <i class="material-icons nav-icon align-middle">history</i>
                            &nbsp;
                            <span class="sidebar-text">Real-time</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-maps-tab" data-toggle="pill" href="#v-pills-maps" role="tab"
                        aria-controls="v-pills-rt" aria-selected="false">
                        <div class="nav-row text-center">
                            {% comment %} <img class="img-fluid nav-icon pr-2"
                                src="{% static '/dashboard/images/MapIcon.svg' %}" alt=""> {% endcomment %}
                            <i class="material-icons nav-icon align-middle">map</i>
                            &nbsp;
                            <span class="sidebar-text">Maps</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-charts-tab" data-toggle="pill" href="#v-pills-charts" role="tab"
                        aria-controls="v-pills-charts" aria-selected="false">
                        <div class="nav-row text-center">
                            {% comment %} <img class="img-fluid nav-icon pr-2"
                                src="{% static '/dashboard/images/Chart_icon.svg' %}" alt=""> {% endcomment %}
                            <i class="material-icons nav-icon align-middle">multiline_chart</i>
                            &nbsp;
                            <span class="sidebar-text">Charts</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-analytics-tab" data-toggle="pill" href="#v-pills-analytics"
                        role="tab" aria-controls="v-pills-analytics" aria-selected="false">
                        <div class="nav-row text-center">
                            {% comment %} <img class="img-fluid nav-icon pr-2"
                                src="{% static '/dashboard/images/analytic-icon.svg' %}" alt=""> {% endcomment %}
                            <i class="material-icons nav-icon align-middle">analytics</i>
                            &nbsp;
                            <span class="sidebar-text">Analytics</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-pred-tab" data-toggle="pill" href="#v-pills-pred" role="tab"
                        aria-controls="v-pills-pred" aria-selected="false">
                        <div class="nav-row text-center">
                            {% comment %} <img class="img-fluid nav-icon pr-2"
                                src="{% static '/dashboard/images/predictions-icon.svg' %}" alt=""> {% endcomment %}
                            <i class="material-icons nav-icon align-middle">online_prediction</i>
                            &nbsp;
                            <span class="sidebar-text">Predictions</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-rt" role="tabpanel" aria-labelledby="v-pills-rt-tab">
                <h1>Real Time</h1>
                <div class="row">
                    <div class="col-8">
                        <h2>Live map</h2>
                        {% comment %} <div class="dropdown" id="measure-select-drop">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="select-measure"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select a measure
                            </button>
                            <div class="dropdown-menu" aria-labelledby="select-measure">
                                <a class="dropdown-item" href="#" data-measure="flow">Trucks on street
                                    segment</a>
                                <a class="dropdown-item" href="#" data-measure="vel">Average Velocity</a>
                            </div>
                        </div> {% endcomment %}
                        <button type="button" class="btn btn-primary" id="refreshMap">Refresh</button>
                        <p id="current-timeframe"></p>
                        <div id="rt-map"></div>
                    </div>
                    <div class="col">
                        <h2>Tables</h2>
                        <div id="street-table-div">
                            <h3>Top 10 most busy streets</h3>
                            <table id="rt-table-street" class="display table table-striped table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Street ID</th>
                                        <th>Truck count</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="com-table-div" style="display: none;">
                            <h3>Top 5 most busy communes</h3>
                            <table id="rt-table-com" class="display table table-striped table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Commune</th>
                                        <th>Truck count</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="v-pills-maps" role="tabpanel" aria-labelledby="v-pills-maps-tab">
                <div class="row">
                    <div class="col">
                        <h1>Maps</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="dropdown" id="map-select-drop">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="select-chart"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Map type
                            </button>
                            <div class="dropdown-menu" aria-labelledby="select-chart">
                                <a class="dropdown-item" href="#" data-chart="cat_dist">Trucks per street</a>
                                <a class="dropdown-item" href="#" data-chart="time_counts">Trucks per commune</a>
                                <a class="dropdown-item" href="#" data-chart="commune_dist">Truck positions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        {% comment %} TODO: Provide map controls in accordance with chosen map {% endcomment %}
                        <div id="map-controls">
                            {% crispy map_controls%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="hist-map"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-charts" role="tabpanel" aria-labelledby="v-pills-charts-tab">
                <h1>Charts</h1>
                <div class="dropdown" id="chart-select-drop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="select-chart"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Chart
                    </button>
                    <div class="dropdown-menu" aria-labelledby="select-chart">
                        <a class="dropdown-item" href="#" data-chart="cat_dist">Truck Category Distribution</a>
                        <a class="dropdown-item" href="#" data-chart="time_counts">Daily Truck counts per hour</a>
                        <a class="dropdown-item" href="#" data-chart="commune_dist">Truck counts per commune</a>
                    </div>
                </div>
                <div class="row chart-row active-chart" id="cat_dist">
                </div>
                <div class="row chart-row active-chart" id="time_counts">
                </div>
                {% comment %} Approach: add a div for every chart (with id as chart name) and display/hide divs with
                some controls (dropdown?) {% endcomment %}
            </div>
            <div class="tab-pane fade" id="v-pills-analytics" role="tabpanel" aria-labelledby="v-pills-analytics-tab">
                <h1>Analytics</h1>
                <div class="dropdown" id="entity-select-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="entity-select"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select level of aggregation of the analysis
                    </button>
                    <div class="dropdown-menu" aria-labelledby="entity-select">
                        <a class="dropdown-item" href="#">Global</a>
                        <a class="dropdown-item" href="#">Communes</a>
                        <a class="dropdown-item " href="#">Streets</a>
                        <a class="dropdown-item" href="#">Individual Trucks</a>
                    </div>
                </div>
                <div id="analytics-body"></div>
            </div>
            <div class="tab-pane fade" id="v-pills-pred" role="tabpanel" aria-labelledby="v-pills-pred-tab">
                <h1>Predictions</h1>
            </div>
        </div>
    </div>


</div>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="//www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
{% comment %} <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js">
</script> {% endcomment %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static '/dashboard/js/drawUtils.js' %}"></script>
<script src="{% static '/dashboard/js/charts.js' %}"></script>
<script src="{% static '/dashboard/js/maps.js' %}"></script>
<script src="{% static '/dashboard/js/dashboard.js' %}"></script>
{{map_controls.media}}
{% endblock %}