{% extends 'dashboard/dashboard_tabs/analytics.html' %}

{% block analysis_components %}

<div id="{{timeframe}}-delay-analysis" class="analysis-content active">
    <div class="row map-tables">
        {% if timeframe == 'current' %}
        <div class="col-6 map-analysis">
            <div id="delay-map"></div>
        </div>
        {% endif %}
        <div class="col tables-analysis">

        </div>

    </div>

    <div class="row figures">
        {# Insert cols for each figure #}
    </div>
</div>

{{ figure_configs|json_script:"figure_configs"}}


{% endblock analysis_components %}