/* 
Overall dashboard style
 */
.nav-icon{
    height: 1.4em;
}

.sidebar-text{
    color: black;
}

.nav-item{
    margin-top: 0.5em;
}

.nav-pills .nav-link.active{
    background-color: var(--mobi-blue);
}

/*
Chart related styling
*/
.chart-row > div{
    width: 80%;
    height: 1000px;
}

#rt-map { height: 100em; }