/* 
Overall dashboard style
 */


.nav-icon{
    height: 1.4em;
}

.sidebar-text{
    color: black;
}

.nav-item{
    margin-top: 0.5em;
}

.nav-pills .nav-link.active{
    background-color: var(--mobi-blue);
}

/*
Chart related styling
*/
.chart-row > div{
    width: 80%;
    height: 1000px;
}

#rt-map { height: 100em; }

#hist-map { height: 100em; }

/*
Collapsing sidebar
*/

.sidebar{
    padding-left: 2px; /*Remove default padding from column*/
}

#sidebar.active{
    min-width: 5em;
    max-width: 5em;
}

#sidebar.active .sidebar-text{
    display: none;
}